version: '3.8'

services:
  backend:
    build: ./API
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./API:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DATABASE=postgres
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: royalcars
      POSTGRES_USER: royal
      POSTGRES_PASSWORD: royal123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build: ./front
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  postgres_data: